<form method="post" action="/album/<%= @albums.id %>">
  <label for="album-title-field">Album title:</label>
  <input
  type="text"
  name="title"
  id="album-title-field"
  value="<%= @albums.title %>"/>

<input type='submit' value="Edit Album">
</form>
