<h1>Add an artist!</h1>

<form method="post" action="/artist/new">
  <label for="artist-name">Artist Name:</label>
    <input id="artist-name" type="text" name="title" />

    <input type='submit' value='Add Artist'></input>
</form>

