<h1>Search for an album!</h1>

<form>
  <label for="album-title">Album title:</label>
    <input id="album" type="text" name="album-title" />

   <!-- <label for="album-title">Album title</label>
    <select id="album-title" name="title"> -->

  </select>
  <input type='submit' value="Search"/>
  <form method="post" action="/album"></form>
</form>
