<h1>Add an album!</h1>

<form>
  <label for="album-title">Album title:</label>
    <input id="album" type="text" name="album-title" />

    <label for="Quantity">Quantity</label>
    <input type="number" name="quantity" id="Quantity"/>

    <input type='submit' value='Add album'></input>

</form>
